.footer {
    width: 100%;
    height: 175px;
    background-color: rgb(19, 119, 177);
    padding-top: 10px;
    position: relative;
  }

  .footer p {
    color: white;
  }

  .footerLinks {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .footerLinks a {
    margin-right: 20px;
    text-decoration: none;
  }

  .footerDescription{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  