section {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: min(100%, 500px);
}

a, a:visited {
  color: whitesmoke;
}

a:hover, a:focus {
  color: rgba(245, 245, 245, 0.9);
}

.login form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  margin-top: 1rem;
}

.login input, .login button {
  padding: 0.5em;
  border-radius: 15px;
}