.navbar {
  background-color: #2196f3; /* Mavi arka plan */
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 75px;
}

.navbar-logo {
  margin-left: 100px;
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
}

.navbar-logo-color{
  color: white !important;
}

.navbar-links {
  display: flex;
  justify-content: center;
  flex-grow: 1; 
}

.navbar-link {
  text-decoration: none;
  color: white !important; 
  margin: 0 8px;
}

.navbar-login {
  margin-right: 100px;
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
}

