.containerOnNumara {
    padding: 0px 200px;
    margin-bottom: 100px;
}

.lastItemOnNumara{
    height: 170px !important;
}

.spinnerOnNumara{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 
.gridOnNumara {
    margin-bottom: 25px;
}

.headlinesOnNumara {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 25px;
}

.itemsOnNumara {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}
.paginateOnNumara {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}