.containerSayisalLoto {
    padding: 0px 200px;
    margin-bottom: 100px;
}

.lastItemSayisalLoto{
    height: 159px !important;
}

.spinnerSayisalLoto{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gridSayisalLoto {
    margin-bottom: 25px;
}

.headlinesSayisalLoto {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 25px;
}

.itemsSayisalLoto {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}
.paginateSayisalLoto {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}