.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.register-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid gray  ;
  }
  
  .register-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .register-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  
  .register-form button:hover {
    background-color: #0056b3;
  }