.containerSuperLoto {
    padding: 0px 200px;
    margin-bottom: 100px;
}

.lastItemSuperLoto{
    height: 139px !important;
}

.spinnerSuperLoto{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gridSuperLoto {
    margin-bottom: 25px;
}

.headlinesSuperLoto {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 25px;
}

.itemsSuperLoto {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}
.paginateSuperLoto {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}