.container {
    padding: 0px 200px;
    margin-bottom: 100px;
}

.spinner{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid {
    margin-bottom: 25px;
}

.headlines {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 25px;
}

.paginate {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}